@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
  font-size: 14px;
  overflow-x: hidden;
}

input {
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

iframe:focus-visible {
  outline: none;
}

input {
  accent-color: #333333;
}